@model WebApplication2.Models.Invoice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deadline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayerAddr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayerAddr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayerTel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayerTel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiverName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiverName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecevierAddr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecevierAddr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiverTel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiverTel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Goods)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Goods)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
