@model IEnumerable<WebApplication2.Models.Report>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create") |
    @Html.ActionLink("Back", "Homeback")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Revenue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OperatingExpenses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OperatingProfit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfitTax)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Revenue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OperatingExpenses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OperatingProfit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfitTax)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id }) |
            @Html.ActionLink("excel", "ExportExcel", new { id = item.id }) 
        </td>
    </tr>
}

</table>
